footer {
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .copywrite {
    color: #333333;
    font-family: $montserrat;
    a {
      color: $red-color;
      text-decoration: none;
    }
  }
  form {
    input {
      padding: 1em 2em;
      color: #cccccc;
      font-size: 15px;
      font-family: $roboto;
      font-weight: 300;
      font-style: italic;
      border: 1px solid #e7e7e7;
    }
    button {
      border: none;
      background-color: $icon-color;
      padding: 1em 2em;
      color: $white-color;
      font-weight: 700;
      font-family: $montserrat;
    }
  }
}
