header {
  background: url("../img/banner.jpg") no-repeat;
  position: relative;
  &:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(243,129,129,1) 0%, rgba(252,227,138,1) 76%, rgba(234,255,208,1) 100%);
    opacity: .9;
  }
  .container {
    color: $white-color;
    display: flex;
    flex-direction: column;
    padding: 20px 15px 200px;
    > * {
      position: relative;
      z-index: 2;
    }
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      text-decoration: none;
    }
    ul {
      display: flex;
      align-items: center;
      list-style: none;
      li {
        padding: 0 30px;
        a {
          color: $white-color;
          font-size: 14px;
          font-family: $montserrat;
          text-align: center;
          position: relative;
          padding: 10px 0;
          &.active,
          &:hover {
            color: $active-menu-color;
            &:after {
              content: '';
              height: 2px;
              width: 100%;
              background: $active-menu-color;
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
            }
          }
        }
      }
    }
  }
  #word-mark {
    font-size: 30px;
    font-family: $montserrat;
    font-weight: 700;
  }
  #hero-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title_container {
      padding: 100px 0;
    }
    .main-title {
      font-family: $montserrat;
      text-transform: uppercase;
      font-size: 150px;
      line-height: 140px;
      font-family: "Montserrat";
      font-weight: 700;
    }
    .subtitle {
      font-size: 72px;
      font-family: $kaushan;
      font-weight: 400;
      text-align: center;
    }
  }
  .btn {
    background: none;
    border: 3px solid $white-color;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1em 2em;
    color: $white-color;
    font-weight: 700;
    text-decoration: none;
    max-width: 200px;
    cursor: pointer;
    font-family: montserrat;
    font-weight: 700;
    text-align: center;
  }
}
