@import "var";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('../#{$icomoon-font-path}/#{$icomoon-font-family}.eot?m2fazc');
  src:  url('../#{$icomoon-font-path}/#{$icomoon-font-family}.eot?m2fazc#iefix') format('embedded-opentype'),
    url('../#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?m2fazc') format('truetype'),
    url('../#{$icomoon-font-path}/#{$icomoon-font-family}.woff?m2fazc') format('woff'),
    url('../#{$icomoon-font-path}/#{$icomoon-font-family}.svg?m2fazc##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before {
    color: $icon-color;
  }
  &:hover {
    &:before {
      color: red;
    }
  }
}

.icon-seo {
  &:before {
    content: $icon-seo;
  }
}
.icon-creative {
  &:before {
    content: $icon-creative;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-image {
  &:before {
    content: $icon-image;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-photography {
  &:before {
    content: $icon-photography;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-web {
  &:before {
    content: $icon-web;
  }
}
.icon-pinterest {
  &:before {
    content: $icon-pinterest;
  }
}
.icon-html {
  &:before {
    content: $icon-html;
  }
}
