$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-cart: "\e90a";
$icon-search: "\e986";
$icon-seo: "\e900";
$icon-creative: "\e901";
$icon-facebook: "\e902";
$icon-image: "\e903";
$icon-instagram: "\e904";
$icon-photography: "\e905";
$icon-twitter: "\e906";
$icon-web: "\e907";
$icon-pinterest: "\e908";
$icon-html: "\e909";

$roboto: 'Roboto', sans-serif;
$kaushan: 'Kaushan Script', cursive;
$montserrat: 'Montserrat', sans-serif;

$icon-color: #95e1d3;
$white-color: #fff;
$yellow-color: #fce38a;
$red-color: #f38181;
$title-color: #333333;
$description-color: #999999;
